astroid==2.15.6
black
click==8.1.6
dill==0.3.7
exceptiongroup==1.1.3
iniconfig==2.0.0
isort
lazy-object-proxy
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pluggy
pylint
pytest
tomli
tomlkit
typing_extensions
wrapt
pytest-cov